<div class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <!-- Nav Brand -->
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">tseapy</a>

    <!-- Toggle Button -->
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Items -->
    <div class="navbar-nav me-auto">
        <div class="nav-item text-nowrap">
            <a href="/" class="nav-link text-secondary">
                <i class="fas fa-home d-block text-center fs-icon"></i>
                Home
            </a>
        </div>
    </div>
</div>
