{% extends "layouts/layout_without_sidebar.html" %}

{% block title %}Home{% endblock %}

{% block heading %}
  <h1>Home</h1>
{% endblock %}

{% block content %}
    {% if upload_notice %}
      <div class="alert alert-info" role="alert">{{ upload_notice }}</div>
    {% endif %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Welcome</h6>
      <div class="d-flex text-muted pt-3">
          <p class="pb-3 mb-0 small lh-sm">
              Select a task to run analysis on the configured dataset.
          </p>
      </div>
      <a href="/upload" class="btn btn-outline-secondary btn-sm">Load Different Dataset</a>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Available Tasks</h6>

      {% for task in tasks %}
        <a href="/{{ task[0] }}" class="d-flex text-muted pt-3 border-bottom text-decoration-none full-line-link">
            <p class="pb-3 mb-0 small lh-sm">
                <strong class="d-block text-gray-dark text-uppercase">{{ task[0] }}</strong>
                {{ task[1] }}
            </p>
        </a>
      {% endfor %}

    </div>
{% endblock %}
